<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoFFFFF" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\anaconda3\python.exe|D:\anaconda3\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <httpRedirect enabled="false" destination="https://bhynrzjs.mynatapp.cc" httpResponseStatus="PermRedirect" />
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>


